@import "./normilize.css";
@import "./errores.css";
@import "./otraOpcion.css";


* {
    font-family: var(--font-sans);
}

html{
    height: 100%;
}

body {
    background-color: var(--gray-3);
    padding: var(--size-2);
    padding-top: 2vh;
    height: 100%;
}

.app {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    h1{
      color:var(--lime-12) ; 
      -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:var(--teal-12);
      align-items: center;
    }
    
}

form {
    margin-top: var(--size-3);
}

h4 {
    margin-bottom: var(--size-3);
}

.subtotal {
    input {
        font-size: var(--font-size-5);
        padding-left: var(--size-3);
        padding-top: var(--size-5);
        height: var(--size-10);
        width: 100%;
        border: var(--border-size-1) solid var(--gray-1);
        border-radius: var(--radius-conditional-3);
        font-family: var(--font-mono)
    }

}

.radio-opciones {
    width: 100%;
    display: flex;
    gap: var(--size-1);

    label {
        flex: 1;
        height: var(--size-8);
        text-align: center;
        line-height: var(--size-8);
        background-color: var(--teal-3);
        color: white;
        font-size: var(--font-size-3);
        border: 1px solid white;
        border-radius: var(--radius-4);

        [type="radio"] {
            display: none;
            align-items: center;
            justify-content: center;

        }
    }

    label:has([type="radio"]:checked) {
        background-color: var(--teal-8);
        color: black
    }
}

.total {
    font-size: var(--font-size-3);
    color: var(--grey-10);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    span:nth-child(even){
        text-align: right;
        font-size: var(--font-size-4);
    }
    
    
    
}

.otra-opcion-dividir {
    padding-top: var(--size-2);
    display: flex;
    gap: var(--size-1);
}

.otro-input {
    font-size: var(--font-size-3);
    padding-left: var(--size-2);
    padding-top: var(--size-1);
    padding-bottom: var(--size-1);
    height: var(--size-8);
    width: 25%;
    border-radius: var(--radius-2);
    font-family: var(--font-mono);
    background-color: var(--stone-0);
    text-align: left;
    padding-right: var(--size-1);
    margin: var(--size-2) 0;

}

button {
    font-size: var(--font-size-2);
    padding-left: var(--size-2);
    padding-right: var(--size-2);
    padding-top: var(--size-1);
    padding-bottom: var(--size-1);
    height: var(--size-8);
    width: 19%;
    border: var(--border-size-1) solid var(--gray-1);
    border-radius: var(--radius-4);
    font-family: var(--font-mono);
    align-items: center;
    justify-content: center;
    background-color: var(--gray-6);
    text-align: center;
    color: whitesmoke;
   
    &.active{
        background-color:var(--orange-6);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    }

}

/* estilos de los titulos*/

.seccion-titulo{
    display: flex;
    margin-bottom: var(--font-size-3);
}
.label-titulo{
    flex: 1;
    font-size: var(--font-size-4);
    font-weight: bold;
}
